
    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

.tablrow{
  display: flex;
  align-items: center;
  
}
.tablecol{
  margin: 10px;
}
    nav {
      background-color: #ffffff;
      border:#f1f1f1 solid 1px;
      padding: 20px;
      display: flex;
      
      
    }

   

    .search-form {
      position: relative;
      width: 400px; /* Adjust as needed */
      display: flex;
      margin-left: 30px;

      
    }

    .search-input {
        
        width: 100% ;
        background-image: url(assets/searchsearch.png);
        background-repeat: no-repeat;
      background-position: 10px center; /* Adjust position to center the icon */
      background-size: 20px; /* Adjust size of the icon */
      padding: 10px 40px;
      border-radius: 40px;
     
    }

    .submit-btn {
      padding: 5px 10px;
      margin: 5px 10px;
      background-color: #b6b4b4;
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;
    }

    .submit-btn:hover {
      background-color: #45a049;
  

      
    }

    a{
     color: inherit;
     text-decoration: none;
    
    }


.stat{
  background-color: #DEF7EC;
  border-radius: 25px;
  color: #03543F;
  margin: 7px auto;
  padding: 10px 45px;
  width: fit-content;
}
.ttbl4{

  background-color: #ffffff;
  margin: 40px 25px 10px 25px ;
  border-radius: 25px;
}
 
h3{margin: 15px 30px 15px 35px;}



.tbl4 {
  border-collapse: collapse;
 width: 100%;

}


.tbl4 td{
  text-align: center;
  height: 30px;
  
}
.tbl4 th{
  text-align: center;
  background-color: #caceca;

 
}
.tbl4 caption{
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}
.rgtcontent2{
  background-color:#f1f1f1;
  display: flex;
  flex-direction: column;
  height: 1000px;
 
}





    .tbl3{
      width: 50%;
      border-radius: 20px;
      
      background-color: #ffffff;
      margin: 35px 30px 30px 30px ;
      padding: 20px;
      box-shadow: rgba(1, 1, 10, 0.2) 0px 10px 20px 0px;
    }
    .tbl3  th{
      text-align: left;
      font-size: 25px;
      
    }
    .tbl3 td ,th { padding: 15px 1px;}




    .lfttable{
      float: left;
      margin: 40px;
    }
    .rgtcontent{
      background-color:#f1f1f1;
    
      display: flex;
      flex-direction: column;
    }


    .tbl1{
      margin:10px 10px 10px 25px ;
      display: flex;
      gap:20px;
      align-items: center;
      
      
    }
    
    .col1{
      padding: 20px;
      background-color: #ffffff;
      gap: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      box-shadow: rgba(1, 1, 10, 0.2) 0px 10px 20px 0px;


    }
    .col1 p{
      color:#A3AED0 ;
      font-size: 20px;
      margin: 0;
    }
    .col1 h1{
      color:#2B3674;
      font-size: 30px;
      margin: 0;

      
    }
    .col2{
      padding: 20px;
      background-color: #ffffff;
      
      width: 220px;
      height: 70px;
     
      align-items: center;
      border-radius: 20px;
      box-shadow: rgba(1, 1, 10, 0.2) 0px 10px 20px 0px;
    }
    .col2 h3{
      margin:  0;
      color: #A3AED0;
      
    }
    .col2 h1{
      margin:  0;
      color: #2B3674;
    }
    .col2 p{
      margin:  0;
      color:#A3AED0;
      font-size: 15px;
    }
    .perc{
      margin-top: 5px;
      display: flex;
      
    }
    #a{
      font-size: 10px;
      color:#05CD99;
    }
    #b{

      font-size: 10px;
      color: #A3AED0;
      margin-left: 5px;
    }



    .tbl2{
      margin-left: 25px;
    }




 
    .head{
      margin: 40px;
    }
    .lfttable{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .tablrow{
      display: flex;
      text-align: center;
      flex-basis: 80px;
    }
    .tablcol{
      padding: 200px;
      text-align: center;
      
    }

    